<main class="fullscreen">
    <div class="container row">
        <div>
            <h1 class="heading">FT Labs</h1>
            <p class="caption">We watch your website to make sure it&nbsp;works fast and doesn’t skip a beat.</p>
        </div>
        <div>
            <%= image_tag 'landing.png', class: 'aside-image' %>
        </div>
    </div>
</main>