.fullscreen {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
  padding: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 150px;
}

.aside-image {
  max-width: 380px;
}

@media (max-width: 900px) {
  .fullscreen {
    height: auto;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }
}
